h1 {
    color: rgb(0, 255, 21);
}

header {
   background-color: rgb(189, 189, 50);
   margin: 10px;

}
/*id selector only for one element */
#subtitle {font-size: large;
margin-top: 2px;
margin-bottom: 2px;}

/*class selector for multiple elements*/
.post { font-size: x-large;
margin: 10px;}



